.container-fluid{
    padding: 0 20px;

    &.pad{
        padding: 0 36px;

        @include bp(mobile){
            padding: 0 20px;
        }
    }

    @include bp(mobile) {
        padding: 0 12px;
    }
}