input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,text,select{
  border:1px solid color(grey, border);
  width: 100%;
  @include font-rem(15px,18px);
  padding: 15px 16px 15px 12px;
  border-radius: 3px;
  background-color: color(white);

  @include input-placeholder{
    @include font-rem(15px, 18px);
    color:#777777;
  }
}

option{
  cursor: pointer;
}


#booking{
  max-width: 394px;
  margin-bottom: 26px;
  width: 100%;
  background-color: color(white);
  padding: 14px 24px 26px 24px;
  border-radius: 2px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.04),
   0 1px 45px 0 rgba(0, 0, 0, 0.08);

   .sub-text{
     @include font-rem(16px,19px);
     margin-bottom: 18px;
   }
   .form-row{
     position: relative;
     margin-bottom: 16px;
     display: flex;
     flex-wrap: wrap;
     label{
       @include font-rem(15px, 18px);
       color:#777777;
       position: absolute;
       left: 12px;
       top:16.5px;
     }
     .arrival,.departure{
       text-align: right;
     }
   }
   .nights,
   .total-amount {
      max-width: 50%;
      flex:0 0 50%;
   }

   .nights{
     font-weight: 500;
     @include font-rem(16px,19px);
     align-self: center;

     @include bp(mobile-sm){
        @include font-rem(15px, 19px);
     }
   }
   .total-amount{
     font-weight: bold;
     @include font-rem(24px, 28px);
     text-align: right;

     @include bp(mobile-sm) {
       @include font-rem(20px, 26px);
     }

     + .text{
       border-top:1px solid color(grey, border);
       margin-top: 6px; 
       padding-bottom: 12px;
       padding-top: 6px;
       opacity: 0.7;
       width: 100%;
     }
   }

   .text{
     @include font-rem(14px,16px);
   }

   .button{
     width: 100%;
     letter-spacing: 0.4px;
     margin-bottom: 10px;

     + .text{
       color:color(grey,var4);
     }
   }

   @include bp(tablet-md){
     margin-top: -88px;
     position: relative;
     z-index: 10;
   }
}